@import "_neat-helpers";

/* Base grid options *********************/
$gutter: 0.3em;
$border-box-sizing: true;
$grid-columns: 12;
$max-width: 960px;
$visual-grid-color: darken(#EFF7FB, 10%);
$visual-grid: false;

// I really dont like altering the amount of columns upon a breakpoint
// It can cause confusion in my opinion.
// I use the naming convention of large, medium, small and smallest
$large: new-breakpoint(max-width $max-width $grid-columns);
$medium: new-breakpoint(max-width 768px $grid-columns);
$small: new-breakpoint(max-width 480px $grid-columns);
$smallest: new-breakpoint(max-width 320px $grid-columns);