main {
  position: relative;
  padding: 30px;
  box-sizing: border-box;

  section {
    article {
      height: 250px;
      overflow: hidden;
      margin-bottom: 6px;
      cursor: pointer;
      border: 0px solid $blue;
      transition: border 1s $ease-in-out-back;

      &.selected {
        border: 6px solid $blue;
      }

      &:nth-child(3n){
        margin-right: 0;  
      }

      @include media($medium) {
        &.four{
          @include span-columns(6);
          margin-bottom: 3px;

          &:nth-child(2n){
            margin-right: 0;  
          }
        }
      }   

      @include media($small) {
        &.four{
          @include span-columns(12);     

          &:nth-child(1n){
            margin-right: 0;  
          }
        }
      }   
    }
  }
}