/* Colour variables ---------------------- */

// Add custom colours and their respective classes here
$red: #E23C3C;
$green: #4dc084;
$blue: #108bbe;

$grey: #444444;
$grey-darker: #333333;
$grey-lighter: #666666;

$white: #ffffff;
$white-darker: #F8F8F8;


.red, %red {
    color: $red;
}

.green, %green {
    color: $green;
}

.blue, %blue {
    color: $blue;
}

// More unique names for colors that may relate better to contexts
$color: $grey-darker;
$alt-color: $grey-lighter;
$background-color: $white-darker;
$heading-colour: $color;
$link-color: $color;
$link-color-hovered: $blue;
$link-color-active: $blue;
