body {
  > header {
    .title, .social {
      display: inline-block;
    }

    .social {
      float: right;
    }
    
    .title {
      padding-bottom: 10px;


      img, h1 {
        display: inline-block;
      }

      img {
        vertical-align: top; 

        @include media($small) {
          width: 40px;
          height: 40px;
        }
      }

      h1 {
        margin: 0px;
        padding: 0 0 0 6px;
        font-style: italic;

        @include media($small) {
          @include font(3.17, 3.27);
        }

      }


    }
  }
}