.main-nav {
  @include font(1.8, 1.85);
  font-family: $alt-font;
  font-weight: bold;
  background: $grey-lightest;
  text-align: center;
  overflow: hidden;

  > span {
    padding: 10px;
  }

  ul {
    list-style: none;
    @include row();
    margin: 0px;
    padding: 0px;

    li {
      @include span-columns(2);
      min-width: 100px;
      text-decoration: none;
      display: inline-block;
      text-align: center;      
      box-sizing: border-box;
      padding: 10px;
    }
  }

  @include media($small) {

    > span {
      cursor: pointer;
      position: relative;
      z-index:2;
      background: $grey-lightest;
    } 

    ul {
      display: block;
      overflow: hidden;
      max-height: 0px;
      @include transition(max-height 0.8s); 

      a {
        display: inline-block;
        width: 100%;
        @include transform(translateY(-650%));
        border-bottom: 1px solid $grey-lighter;

        li {
          width:100%;

          &:hover{
            background: $blue;
          }
        }

        &:nth-child(1){
          @include transition(transform 0.8s $bouncy); 
        }
        &:nth-child(2){
          @include transition(transform 0.8s 0.05s $bouncy); 
        }
        &:nth-child(3){
          @include transition(transform 0.8s 0.1s $bouncy); 
        }
        &:nth-child(4){
          @include transition(transform 0.8s 0.15s $bouncy); 
        }
        &:nth-child(5){
          @include transition(transform 0.8s 0.2s $bouncy); 
        }
        &:nth-child(6){
          @include transition(transform 0.8s 0.25s $bouncy); 
        }
      }

    }

    &:hover, &:active {
      > span {
        border-bottom: 1px solid black;
        background: $blue;
      }

      ul {
        max-height: 600px;
        a {
          @include transform(translateY(0%));
        }
        
        
      }
    }

  }
}