.mobile-only, %mobile-only {
  display: none;
  @include media($small) {
    display: block;
  }
}

.desktop-only, %desktop-only {
  display: block;
  @include media($small) {
    display: none !important;
  }
}

.wrapper {
  width: $max-width;
  max-width:100%;
  margin: 0 auto;
}

@mixin revolving-link() {
  position: relative;
  text-decoration: none;
  overflow: hidden;
  display: inline-block;
  @include transition(all 0.5s $ease-in-out-back);

  &:before {
    display: block;
    position: absolute;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
    background:$blue;
    @include transform(translateY(100%));
    @include transition(all 0.5s $ease-in-out-back);
  }

  &:hover {
    &:before {
      @include transform(translateY(0%));
    }
    color: white;
  }
}

body {
  margin: 20px;
}

main {
  margin: 10px auto 20px !important;
  @include row();

  > article {
    @include span-columns(9);
    padding-right: 10px;
    @include font(1.6, 1.67);

    header {
      h2 {
        margin-bottom: 0px;
      }

      p { 
        margin: 0 0 5px; 

        a {
          @include revolving-link();
        }
      }


    }

    .more {
      h4 {
        font-weight: bold;
        margin-bottom: 5px;
      }

      ul {
        margin: 0;
        padding: 0 0 0 16px;

        li {
          a {
            @include revolving-link();
            display: inline-block;
          }
        }
      }

     
      a {
        @include revolving-link();
        padding: 2px 0 0;
        display: inline-block;
      }
    } 
      

    @include media($small) {
      @include span-columns(12);
    }

  }

  > aside {
    @include span-columns(3);
    float:right;
    margin-top: 10px;    

    a {
      text-decoration: none;
    }



    article {
      margin-top: 21px;      

      h3 {
        margin-bottom: 10px;
      }
    }    
  }
}