nav.social {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      display: inline-block;
      width:45px;
      height:45px;
      @include font(2, 2.2);
      text-align: center;
      box-sizing: border-box;

      // animation applied here so active hover area doesnt decrease
      &:before{
        content: "";
        display: block;
        position: absolute;
        top: 0; 
        left: 0;
        background: black;
        border-radius: 50%;
        width: 100%;
        height: 100%;

        @include transition(all 0.8s $bouncy); 
      }

      &:not(:first-child) {
        margin-left: 5px;
      }
      
      span {
        color: white;
        position: absolute;
        width: 100%;
        display: block;
        top: 10px;
      }


      &.fb {
        span {
          left: -1px;
        }
      }

      &.gplus {
        span {
          top: 8px;
        }
      }

      &:hover {

        &:before{
          @include transform(rotateY(180deg));
          background: $blue;
        }


      }

    }
  }
}