<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width" />

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Facebook Open Graph meta -->
    <meta property="og:title" cosntent="">
    <meta property="og:description" content="">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <title>Blake Newman - Sainsburys task_2</title>

    <!-- Included Font Files -->

    <!-- Included CSS Files -->
    <link rel="stylesheet" href="main.css">
    <script src="static/scripts/modernizr.js"></script>
  </head>
  <body>
    <header class="wrapper">
      <div class="title">
        <img src="http://lorempixel.com/g/54/54" width="54px" height="54px" alt="Logo">
        <h1>Company Name</h1>
      </div>

      <nav class="social desktop-only">
        <ul>
          <li class="fb"><a href="//facebook.com/"><span>f</span></a></li>
          <li class="twitter"><a href="//twitter.com/"><span>t</span></a></li>
          <li class="gplus"><a href="//plus.google.com/"><span>g</span></a></li>
        </ul>
      </nav>

      <nav class="main-nav">
        <span class="mobile-only">Menu</span>
        <ul>
          <a href="#"><li><span>Home</span></li></a>
          <a href="#"><li><span>eBooks</span></li></a>
          <a href="#"><li><span>Magazines</span></li></a>
          <a href="#"><li><span>Movies</span></li></a>
          <a href="#"><li><span>Help</span></li></a>
          <a href="#"><li><span>Login</span></li></a>
        </ul>
      </nav> 
    </header>

    <main class="wrapper" data-attach="items">
      
      <article>

        <header>
          <h2>Lorem Ipsum Dolor Sit</h2>
          <p>
            <span>posted on </span>
            <span class="date">{{date}}</span>
            <span> by </span>
            <a href="#" ><span class="author">{{author}}</span></a>
          </p>
        </header>

        <img src="http://lorempixel.com/g/800/600" width="100%" height="auto" alt="Description of image"></div>

        <div class="main">
          <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam fermentum. Integer fringilla. Integer fringilla. Pellentesque acturpis. Sed elementum, felis quis porttitor sollicitudin, augue nulla sodales sapien, amet posuere quam purus at lacus. Nam id neque. Morbi pulvinar nulla sit amet nisl. Etiam pharetra lacus sed velit imperdiet bibendum.
          </p>
          <p>
            Sed quis elit. In hac habitasse platea dictumst. Maecenas justo. Donec interdum vestibulum libero. Nam laoreet dui sed magna. Nam consectetuer mollis dolor. Aenean ligula. Aliquam sed erat. Donec interdum vestibulum libero. Mauris et dolor.
          </p>
          <nav class="more">
            <h4>More...</h4>
            <ul>
              <li><a href="#">Link #1</a></li>
              <li><a href="#">Another link</a></li>
              <li><a href="#">Third link</a></li>
            </ul>
          </nav>
        </div>

      </article>
      
      <aside class="desktop-only">

        <a href="#">
          <article>
            <h3>{{title}}</h3>
            <img src="http://lorempixel.com/g/200/200" width="100%" height="auto" alt="{{title}}">
          </article>
        </a>

        <a href="#">
          <article>
            <h3>{{title}}</h3>
            <img src="http://lorempixel.com/g/200/200" width="100%" height="auto" alt="{{title}}">
          </article>
        </a>

      </aside>

    </main>
  
    <footer class="wrapper">
      <nav class="social mobile-only">
        <ul>          
          <li class="fb"><a href="//facebook.com/"><span>f</span></a></li>
          <li class="twitter"><a href="//twitter.com/"><span>t</span></a></li>
          <li class="gplus"><a href="//plus.google.com/"><span>g</span></a></li>
        </ul>
      </nav>
    </footer>

  </body>
</html>
